#table {
    border: 1px solid black;
}

#table2 {
    border: 1px solid black;
}

#table3 {
    border: 1px solid black;
}

#table4 {
    border: 1px solid black;
}

#table5 {
    border: 1px solid black;
}