<div data-gjs="navbar" class="navbar">
    <div class="navbar-container">
        <nav data-gjs="navbar-menu" class="navbar-menu">
            <a ng-href="https://github.com/komaroffalex/SpringCourse#" data-highlightable="1" class="navbar-menu-link">Source</a>
        </nav>
    </div>
</div>
<form class="form">
    <div class="form-group">
    </div>
    <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
            <div class="row">
                <div class="cell">
                    <div class="row">
                        <div class="cell">
                            <input ng-model="login" class="input" placeholder="Login"/>
                            <input ng-model="passwd" type="password" class="input" placeholder="Password"/>

                        </div>
                        <div class="cell">
                            <input type="radio" name="userType" ng-model="userType" value="administrator" class="radio">Administrator
                            <input type="radio" name="userType" ng-model="userType" value="client" checked
                                   class="radio">Client
                            <input type="radio" name="userType" ng-model="userType" value="worker" class="radio">Worker
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <button ng-click="loginCtrl.signIn()" class="button">Sign in</button>
                        </div>
                        <div class="cell">
                            <button ng-click="loginCtrl.setRegister()" class="button">Sign up</button>
                        </div>
                    </div>
                    <div ng-show="loginCtrl.isRegister" class="row">
                        <div class="cell">
                            <input ng-model="loginReg" class="input" placeholder="Login"/>
                            <input ng-model="password1" type="password" class="input" placeholder="Password"/>
                            <input ng-model="password2" type="password" class="input" placeholder="Repeat password"/>
                            <input ng-model="name" class="input" placeholder="Name"/>
                            <input ng-model="surname" class="input" placeholder="Surname"/>
                            <input type="radio" name="userTypeReg" ng-model="userTypeReg" value="administrator" class="radio">Administrator
                            <input type="radio" name="userTypeReg" ng-model="userTypeReg" value="client" checked
                                   class="radio">Client
                            <input type="radio" name="userTypeReg" ng-model="userTypeReg" value="worker" class="radio">Worker
                            <button ng-click="loginCtrl.registerUser()" ng-enter="loginCtrl.registerUser()"
                                    class="button">Sign up
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
        </div>
        <div class="cell">
        </div>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
</form>