<html>

<body>
<div>
    <form method="post">
        <input type="text" name="foodName" placeholder="Enter food name" />
        <input type="text" name="foodCost" placeholder="Enter food cost" />
        <button type="submit">Add</button>
    </form>
</div>
<div>Food list</div>
<form method="post" action="food/filter">
    <input type="text" name="filter">
    <button type="submit">Find</button>
</form>
{{#foods}}
<div>
    <b>{{id}}</b>
    <span>{{foodName}}</span>
    <span>{{foodCost}}</span>
</div>
{{/foods}}
</body>
</html>